<p-toast></p-toast>
<div class="flex justify-content-center align-items-center min-h-screen w-full">
  <p-card header="Formulario de Usuario" class="w-10">
    <form 
      [formGroup]="formUsuario" 
      (ngSubmit)="edit ? updateUsuario() : createUsuario()" 
      class="flex flex-column gap-2">
      
      
      
      <!-- Nombre -->
      <div class="field flex flex-column gap-1">
        <label for="nombre">Nombre</label>
        <input type="text" pInputText formControlName="nombre" />
      </div>
      
      <!-- Apellido -->
      <div class="field flex flex-column gap-1">
        <label for="apellido">Apellido</label>
        <input type="text" pInputText formControlName="apellido" />
      </div>
      
      <!-- Correo -->
      <div class="field flex flex-column gap-1">
        <label for="correo">Correo</label>
        <input 
          type="email" 
          pInputText 
          formControlName="correo" 
          placeholder="example@domain.com" />
      </div>
      <div class="field flex flex-column gap-1">
        <label for="telefono">Teléfono</label>
        <p-inputNumber 
          inputId="telefono" 
          formControlName="telefono" 
          [mode]="'decimal'" 
          [minFractionDigits]="0" 
          [maxFractionDigits]="0" 
          [useGrouping]="false"  
          (onInput)="onTelefonoChange($event)">
        </p-inputNumber>
      </div>
      <!-- Contraseña -->
      <div class="field flex flex-column gap-1">
        <label for="contrasena">Contraseña</label>
        <input 
          type="password" 
          pInputText 
          formControlName="contrasena" 
          placeholder="Ingrese su contraseña" />
      </div>
      
      <!-- Botón Guardar -->
      <div class="flex gap-2">
        <p-button label="Guardar" [loading]="isSaveInProgress" type="submit"></p-button>
      </div>
    </form>
  </p-card>
</div>
