<p-toast />
<div class="flex  justify-content-center align-items-center min-h-screen w-ful">
    <p-card header="Simple Card" class="w-10">
        <form [formGroup]="formVehiculo"(ngSubmit)="edit?updateVehiculo():createVehiculo()" 
        class="flex flex-column gap-2">
            <div class="field flex flex-column gap-1">
                <label for="tipoVehiculo">TipoVehiculo</label>
                <input type="text" pInputText formControlName="tipoVehiculo" />

            </div>
            <div class="field flex flex-column gap-1">
                <label for="peso">PesoVehiculo</label>
                <p-inputNumber inputId="integeronly" formControlName="peso" />

            </div>
  
            <div class="field flex flex-column gap-1">
                <label for="marca">Marca</label>
                <input type="text" pInputText formControlName="marca" />

            </div>
            <div class="field flex flex-column gap-1">
                <label for="estado">Estado</label>
                <input type="text" pInputText formControlName="estado" />

            </div>
            <div class="field flex flex-column gap-1">
                <label for="placa">placa</label>
                <input type="text" pInputText formControlName="placa" />

            </div>
            <div class="flex gap-2">
                <p-button label="Guardar"[loading]="isSaveInProgress" type="ngSubmit" />

            </div>

        </form>
    </p-card>
</div>