<div class="container">
  <!-- Menú lateral -->
  <aside class="sidebar">
    <div class="logo">
      <img src="ruta_del_logo.png" alt="Logo">
    </div>
    <ul class="menu">
      <li><a routerLink="/vehiculo"><i class="icon-vehiculo"></i> Vehículo</a></li>
      <li><a routerLink="/paquete"><i class="icon-paquete"></i> Paquete</a></li>
      <li><a routerLink="/ruta"><i class="icon-ruta"></i> Ruta</a></li>
      <li><a routerLink="/conductor"><i class="icon-conductor"></i> Conductor</a></li>
      <li><a routerLink="/asignarRuta"><i class="icon-conductor"></i> AsingarRuta</a></li>
    </ul>
  </aside>

  <!-- Contenido principal -->
  <main class="content">
    <!-- Header con usuario -->
    <header class="header">
      <div class="user-info">
        <ng-container *ngIf="usuarioId; else notLoggedIn">
          <span>{{ usuarioNombre }}</span>
          <button (click)="cerrarSesion()" class="logout-button">Cerrar sesión</button>
        </ng-container>
        <ng-template #notLoggedIn>
          <a routerLink="/usuario" class="login-link">Iniciar sesión</a>
        </ng-template>
      </div>
    </header>

    <!-- Acciones -->
    <section class="actions">
      <h2 class="title">Conductor</h2>
      <div class="buttons">
        <a routerLink="/vehiculos-form" class="btn btn-create">Crear</a>

      </div>
    </section>

    <!-- Tabla -->
    <section class="table-section">
      <table *ngIf="conductor.length > 0" class="styled-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conductor of conductor">
            <td>{{ conductor.idConductor }}</td>
            <td>{{ conductor.nombre }}</td>
            <td>{{ conductor.apellido }}</td>
            <td>{{ conductor.telefono }} </td>
            <td>{{ conductor.correo }}</td>
            <td>{{ conductor.contrasena }}</td>
            <td>
              <button (click)="seleccionConductor(conductor.idConductor)" class="p-button p-button-danger">
                Eliminar
              </button>
            </td>
            <td>
              <button  (click)="goToUpdateFormConductor (conductor.idConductor)" class="p-button p-button-danger">Actualizar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="conductor.length === 0" class="no-data">No hay conductores registrados.</div>
      <div *ngIf="mostrarModal" class="modal">
        <div class="modal-content">
          <h3>Confirmar eliminación</h3>
          <p>¿Estás seguro de que deseas eliminar la ruta?</p>
          <div class="modal-actions">
            <button (click)="eliminarConductor()" class="p-button p-button-danger">Sí, eliminar</button>
            <button (click)="cerrarModal()" class="p-button">Cancelar</button>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>