<div class="container">
  <div class="header">
    <h2 class="title">Conductor</h2>

  </div>
  <div class="dashboard">
    <div class="card">
      <h3>
        <a routerLink="/paquete">Paquetes</a>
      </h3>
    </div>
    <div class="card">
      <h3>
        <a routerLink="/ruta">Rutas</a>
      </h3>
    </div>
    <div class="card">
      <h3>
        <a routerLink="/asignarRuta">Asignar Ruta</a>
      </h3>
    </div>
    <div class="card">
      <h3>
        <a routerLink="/">Vehículos</a>
      </h3>
    </div>
    <div class="card">
      <h3>
        <a routerLink="/conductor">Conductores</a>
      </h3>
    </div>
  </div>

  <div class="actions">
    <a [routerLink]="'/conductor-form'" class="p-button font-bold">Crear</a>

  </div>

  <!-- Tabla de vehículos -->
  <div *ngIf="conductor.length === 0" class="no-conductor-message">
    <p>No se encontraron vehículos registrados para este usuario.</p>
  </div>
  <table *ngIf="conductor.length > 0" class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Correo</th>
        <th>Contraseña</th>
        <th>Acciones</th>  <!-- Columna para las acciones de eliminar -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let conductor of conductor">
        <td>{{ conductor.idConductor }}</td>
        <td>{{ conductor.nombre }}</td>
        <td>{{ conductor.apellido }} </td>
        <td>{{ conductor.correo }}</td>
        <td>{{ conductor.telefono }}</td>
        <td>{{ conductor.contrasena  }}</td>
        <td>
          <button (click)="seleccionConductor(conductor.idConductor)" class="p-button p-button-danger">Eliminar</button>
        </td>
        <td>
          <button pButton label=""(click)="goToUpdateFormConductor(conductor.idConductor)">Actualizar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="mostrarModal" class="modal">
    <div class="modal-content">
      <h3>Confirmar eliminación</h3>
      <p>¿Estás seguro de que deseas eliminar el conductor?</p>
      <div class="modal-actions">
        <button (click)="eliminarConductor()" class="p-button p-button-danger">Sí, eliminar</button>
        <button (click)="cerrarModal()" class="p-button">Cancelar</button>
      </div>
    </div>
  </div>
</div>
