<!-- Sidebar -->
<button pButton label="Abrir Menu" icon="pi pi-bars" (click)="sidebarVisible = true"></button>

<p-sidebar [(visible)]="sidebarVisible" position="left" [modal]="true" [showCloseIcon]="true">
    <h3>Panel de Navegación</h3>
    <ul>
      <li><a routerLink="">Vehículos</a></li>
      <li><a routerLink="/paquete">Paquete</a></li>
      <li><a routerLink="/ruta">Ruta</a></li>
      <li><a routerLink="/conductor">Conductor</a></li>
    </ul>
  </p-sidebar>
  
  <!-- Header with application name and user profile -->
  <div class="header">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
      <h1>ROUTEFLEX</h1>
    </div>
    <div class="user-info">
      <p>Elías Castillo</p>
      <img src="assets/user-avatar.png" alt="User Avatar" class="user-avatar" />
    </div>
  </div>
  
  <!-- Table of vehicles -->
  <p-table [value]="conductor" class="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Telefono</th>
        
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-conductor>
      <tr>
        <td>{{ conductor.IdConductor}}</td>
        <td>{{ conductor.Nombre}}</td>
        <td>{{ conductor.Apellido }}</td>
        <td>{{ conductor.Correo }}</td>
        <td>{{ conductor.Telefono }}</td>
        
        <td>
          <button pButton label="Actualizar" icon="pi pi-refresh" class="p-button-info"></button>
          <button pButton label="Eliminar" icon="pi pi-trash" class="p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <!-- Button to create a new vehicle -->
  <div class="p-d-flex p-jc-between">
    <button pButton label="Crear" icon="pi pi-plus" class="p-button-success" routerLink="/conductor-form/new"></button>
  </div>
  