<div class="login-container">
  <!-- Panel Izquierdo -->
  <div class="left-panel">
    <h1>Bienvenidos The RouteFlex</h1>
    <p>
     
    </p>
  </div>

  <!-- Panel Derecho -->
<div class="right-panel">
  <div class="login-card">
    <h2>Ingresar</h2>
    <p>
      ¿No tienes una cuenta?
      <a href="/usuario-form/new" class="sign-up-link">CrearCuenta</a>
    </p>
    
    <!-- Botones de selección -->
    <div *ngIf="!isUserRoleSelected">
      <button (click)="selectRole('conductor')">Ingresar como Conductor</button>
      <button (click)="selectRole('administrador')">Ingresar como Administrador</button>
      <button (click)="loginAsAdmin()" class="btn-test">Ingreso Gratuito</button> <!-- Botón de prueba -->
    </div>
    
    
    <!-- Formulario de Login -->
    <form *ngIf="isUserRoleSelected" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
          class="form-control"
        />
        <small *ngIf="loginForm.get('nombre')?.invalid && loginForm.get('nombre')?.touched">
          Por favor, ingresa un nombre válido (solo letras).
        </small>
      </div>
      <div class="form-group">
        <input
          type="password"
          placeholder="Contraseña"
          formControlName="contrasena"
          class="form-control"
        />
        <small *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched">
          La contraseña debe tener al menos 6 caracteres.
        </small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </button>
    </form>

    <!-- Mensaje de error general -->
    <p *ngIf="errorMessage" style="color: red; margin-top: 10px;">
      {{ errorMessage }}
    </p>


<!-- Botón para regresar a la selección de roles -->
<div *ngIf="isUserRoleSelected">
  <button id="regresar-btn" (click)="goBackToRoleSelection()" class="btn-regresar">Regresar</button>
</div>




  
</div>
