<div class="container">
  <h2 class="title">Vehículos de {{ usuarioId }}</h2>

  <div *ngIf="vehiculos.length === 0" class="no-vehiculos-message">
    <p>No se encontraron vehículos registrados para este usuario.</p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Peso</th>
        <th>Marca</th>
        <th>Placa</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody id="tabla-vehiculos">
      <!-- Aquí se insertarán dinámicamente las filas -->
    </tbody>
  </table>
</div>
